name: CI

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    
    - name: Prepare
      run: |
        python3 -m venv venv
        source venv/bin/activate
        pip3 install -r requirements.txt

    - name: Test
      run: |
        python3 -m pytest
